<footer class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <p class="navbar-left">copyright @ 2015-2016 ***** | spółka</p>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'login_register' %}">Register / Login</a></li>
            </ul>
        </div>
    </div>
</footer>
